.main-carousel {
	width: 100%;
	margin-bottom: 20px;

	&__image-container {
		min-height: 170px;

		@include media-breakpoint-up(md) {
			min-height: 145px;
		}

		@include media-breakpoint-up(lg) {
			min-height: 320px;
		}

		img {
			width: 100%;
		    height: 100%;
		    object-fit: cover;
		}
	}

	.carousel-cell {
		width: 100%;
		height: 350px;
		margin-right: 20px;

		@include media-breakpoint-down(md) {
			height: 491px;
			background-color: #fff;
			padding-left: 15px;
			padding-right: 15px;
		}

		@include media-breakpoint-down(sm) {
			height: 560px;
		}
	}

	/* position dots in carousel */
	.flickity-page-dots {
		left: 22%;
		bottom: 15px;
		cursor: pointer;
		@include media-breakpoint-down(md) {
			left: auto;
		}
	}

	.flickity-button {
		background: transparent;
		z-index: 2;
	}
	.flickity-button:hover {
		background: transparent;
	}

	.flickity-prev-next-button {
		width: 16px;
		height: 16px;
		border-radius: 0;
	}
	/* icon color */
	.flickity-button-icon {
		fill: #2970ff;
	}
	.flickity-prev-next-button {
		top: auto;
		bottom: 7px;

		@include media-breakpoint-down(md) {
			bottom: 12px;
		}
	}
	/* position outside */
	.flickity-prev-next-button.previous {
		left: 306px;
		right: auto;

		@include media-breakpoint-down(lg) {
			left: 256px;
		}

		@include media-breakpoint-down(md) {
			left: 36px;
		}
	}
	.flickity-prev-next-button.next {
		left: auto;
		right: 90px;

		@include media-breakpoint-down(lg) {
			right: 76px;
		}

		@include media-breakpoint-down(md) {
			right: 36px;
		}
	}
}

.tooltip-inner {
	font-size: 11px;
	padding: 2px 5px;
	background-color: #e6eaed;
	color: #091440;
	border-radius: 2px;
	box-shadow: 0 2px 3px 0 rgba(9, 20, 64, 0.21);
}

.tooltip .arrow {
	display: none !important;
}

.carousel-nav {
    position: absolute;
    bottom: 40px;
    right: 0;
    text-align: center;
    list-style: none;
    
    @include media-breakpoint-down(md) {
    	display: flex;
    	align-items: center;
    }

    @include media-breakpoint-up(lg) {
		height: 20px;
	}

    li {
		display: inline-block;
		cursor: pointer;
	    vertical-align: middle;

		@include media-breakpoint-down(md) {
			width: 100%;
		}

		&:first-child {
			@include media-breakpoint-up(lg) {
				margin-right: 20px;
			}
		}
    }

    /* white circles */
	&__dot {
		&:before {
			content: '';
			width: 10px;
			height: 10px;
			opacity: 1;
			background: #e6eaed;
			vertical-align: middle;
		    border-radius: 50%;
		    cursor: pointer;
		    display: block;
	        margin: 0 auto;

		    &:hover {
				border: 2px solid #e6eaed;
				background: #fff;
			}

			@include media-breakpoint-down(md) {
				width: 20px;
				height: 20px;
				
			}

			@include media-breakpoint-up(lg) {
				margin-right: 20px;
			}
		}

		&.is-selected {
			&:before {
				content: '';
				background: transparent;
				width: 16px;
				height: 16px;
				border: solid 2px #2970ff;

				@include media-breakpoint-down(md) {
					width: 26px;
					height: 26px;
				}
			}
		}
	}
}