.site-header {
	height: 60px;
	background-color: #f9fafa;

	a {
		font-size: 15px;
		line-height: 1.13;
		letter-spacing: normal;
		color: #8997a5;

		&:hover, &:focus, &.active {
			text-decoration: none;
			color: #091440;
			border-bottom: 5px solid #2ed8a3;
		}
	}

	.logo {

		&--logo {
			padding-right: 5px;
			border-right: 0.3px solid #091440;
		}

		&--text {
			padding: 0 5px;
			font-size: 13px;
			line-height: 1;
			color: #091440;
		}
	}

	.wrapper{
		position: absolute;
		top: 0;
		text-align: center;
	}
}

.e-mail {
	color: #2ed8a3;
}

.menu-trigger {
	width: 33px;
	height: 23px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	
	.line {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 2px;
		background: #8997a5;   
	}
}


//first menu trigger

.menu-trigger.first {
  	
  	.line {
    	width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 2px;
	    background: #8997a5;
	    transition: 0.6s;
    
	    &.line-1 {
	      	transition: all 0.6s 0.6s, transform 0.6s 0s;
	    }
	    
	    &.line-2 {
			top: 50%;
			margin-top: -1px;
			left: 0;
			transition: all 0.6s 0.6s;
	    }
	    
	    &.line-3 {
			bottom: 0;
			top: auto;
			left: 0;
			transition: all 0.6s 0.6s, transform 0.6s 0s;      
	    }    
  	}
		&.active {

		.line-1 {
			top: 50%;
			margin-top: -1px;
			transform: rotate(45deg);
			transition: all 0.6s, transform 0.6s 0.6s;
		}

		.line-2 {
			opacity: 0;
			transition: all 0.6s, opacity 0.6s 0s;      
		}
		
		.line-3 {
			bottom: 50%;
			margin-bottom: -1px;
			transform: rotate(-45deg);
			transition: all 0.6s, transform 0.6s 0.6s;      
		}    
  	}  
}

#sidebar {
    width: 309px;
    padding-top: 68px;
    position: fixed;
    top: 0;
    right: -309px;
    height: 100vh;
    z-index: 2999;
    transition: all 0.4s;
    overflow-y: scroll;
    background-color: #f9fafa;
	box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.05);

	@include media-breakpoint-down(sm) {
		width: 175px;
		right: -175px;
	}

	&.active {
    	right: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {

			a {
				padding: 22px 60px 22px;
				font-size: 15px;
				line-height: 1.13;
				color: #8997a5;
				display: block;
				transition: 0.25s;

				@include media-breakpoint-down(sm) {
					padding: 22px 30px 22px;
				}

				&.active, &:hover, &:focus {
					padding-left: 25px;
					background-color: #fff;
					border-left: 5px solid #2ed8a3;
					color: #091440;
					text-decoration: none;
					cursor: pointer;
					transition: 0.25s;
				}

				&.active {
					@media (min-width: 769px) and (max-width: 1200px) {
						padding-left: 55px;
					}
				}
			}
		}
	}
}

#dismiss {
    position: absolute;
    top: 22px;
    right: 46px;
    cursor: pointer;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
