body {
	//padding-bottom: 245px;
	font-size: 13px;
	line-height: 19px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	background-color: #f3f5f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

img + span {
	vertical-align: middle;
}

html {
	overflow-y: overlay;
	position: relative;
	min-height: 100%;
}

@include media-breakpoint-down(md) {
	.tooltip {
        display: none !important;
    }
}