@font-face {
    font-family: "dcrstakepool-code";
    src:
        url("fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff2") format("woff2"),
        url("fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff")  format("woff"),
        url("fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf")       format("truetype"),
        url("fonts/SourceCodePro-Regular/SourceCodePro-Regular.eot")       format("embedded-opentype");
}

@font-face {
    font-family: "dcrstakepool";
    src:
        url("fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff2") format("woff2"),
        url("fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff") format("woff"),
        url("fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf") format("truetype"),
        url("fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot") format("embedded-opentype");
}

@font-face {
    font-family: "dcrstakepool";
    src:
        url("fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff2") format("woff2"),
        url("fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff") format("woff"),
        url("fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf") format("truetype"),
        url("fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot") format("embedded-opentype");
    font-weight: bold;
}

@font-face {
    font-family: "dcrstakepool";
    src:
        url("fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff2") format("woff2"),
        url("fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff") format("woff"),
        url("fonts/SourceSansPro-It/SourceSansPro-It.ttf") format("truetype"),
        url("fonts/SourceSansPro-It/SourceSansPro-It.eot") format("embedded-opentype");
    font-style : italic;
}

@font-face {
    font-family: "dcrstakepool";
    src:
        url("fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff2") format("woff2"),
        url("fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff") format("woff"),
        url("fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf") format("truetype"),
        url("fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.eot") format("embedded-opentype");
    font-style : italic;
    font-weight: bold;   
}

html, body {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "dcrstakepool", "Verdana", "sans-serif" !important;
}

pre, code {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "dcrstakepool-code", "Courier New", "monospace" !important;
}

h1 {
	@include fluid-props(font-size, $sm, $xl, 18px, 20px);
	line-height: 1.25;
	letter-spacing: normal;
	color: #596d81;
	font-weight: normal;

	a {
		color: #596d81;
		text-decoration: none;

		&:hover {
			color: #091440;
			cursor: pointer;
		}
	}
}

h2 {
	@include fluid-props(font-size, $sm, $xl, 17px, 19px);
	line-height: 1.26;
	letter-spacing: normal;
	color: #091440;
	font-weight: normal;
}

.text {

	&--size-11 {
		font-size: 11px;
		line-height: 1.27;
	}

	&--size-13 {
		font-size: 13px;
		line-height: 1.46;
		color: #091440;
	}
}

.warning {
	font-size: 11px;
	line-height: 1.27;
	letter-spacing: normal;
	color: #fd704a;
}