html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	background-color: #f3f5f6;

	.container {

		&.voiting {
			max-width: 860px;
		}

		.voiting {

			&--block {
				background-color: #edeff1;

				&__description {
					color: #0c1e3e;
				}

				code {
					font-size: 11px;
					line-height: 1.55;
					letter-spacing: normal;
					color: #545c6b;
				}
			}

			&--white-block {
				
				&__description {
					color: #596d81;

					span {
						color: #0c1e3e;
					}
				}

				&__agendas {
					color: #48566e;

					a {
						font-weight: 600;
						color: #2970ff;

						&.mail {
							color: #48566e;
						}
					}
				}

				.btn {
					padding: 2px 5px 2px 18px;
					line-height: 1.23;
					letter-spacing: normal;
					color: #2971ff;
					border-radius: 2px;
					border: 1px solid #2971ff;

					span {
						position: absolute;
					    top: -2px;
					    left: 3px;
					}
				}
			}

			&--input-block {
				background-color: #d4f0fd;

				p {
					word-wrap: break-word;
				}

				label {
					display: block;
				    position: relative;
				    padding-left: 26px;
				    cursor: pointer;
				}

				input {
				    position: absolute;
				    opacity: 0;
				    cursor: pointer;

				    &:checked ~ .checkmark:after {
					    display: block;
					}
				}

				.checkmark {
				    position: absolute;
				    top: 1px;
				    left: 1px;
				    height: 16px;
				    width: 16px;
				    border: solid 1px #8997a5;
				    border-radius: 50%;

				    &:after {
					    content: "";
					    position: absolute;
					    display: none;
					    top: 2px;
						left: 2px;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background: #8997a5;
					}
				}
			}

			&--shadow-block {
				box-shadow: 0 15px 34px 0 rgba(9, 20, 64, 0.21);
			}
		}
	}

	.status {
		padding: 5px 8px;
		border-radius: 5px;
  		background-color: #d4f0fd;
  		font-size: 13px;
		line-height: 1.31;
		letter-spacing: normal;
		color: #0c1e3e;
	}

	.modal-backdrop {
		background-color: transparent;
	}

	.modal-content {
		background-color: #ffffff;
  		box-shadow: 0 15px 34px 0 rgba(9, 20, 64, 0.21);
  		border: 0;
  		border-radius: 0;
	}

	.modal-title {
		font-size: 27px;
		line-height: 1.26;
		letter-spacing: normal;
		color: #48566e;
	}

	.modal-header{
		border: 0;

		button:focus {
			outline: none;
		}

		.close {
			margin: -3rem -1rem -1rem auto;
		}
	}

	.public-key {

		&--address {
			font-size: 13px;
			line-height: 1.31;
			letter-spacing: normal;
			color: #48566e;
		}

		&--login {
			box-shadow: 0 15px 34px 0 rgba(9, 20, 64, 0.21);

			a {
				font-size: 11px;
				line-height: 1.27;
				letter-spacing: normal;
				color: #8795a2;
			}

			.btn-primary {
				padding: 14px 47px !important;
			}

			.position-absolute {
				top: -20px;
			}

			.btn {

				&--login {
					font-size: 13px;
					line-height: 1.31;
					letter-spacing: normal;
					color: #091440;
					background-color: #ffffff;
					border: solid 1px #e7eaed;
					border-radius: 0.25rem 0 0 0.25rem;

					@include fluid-props(padding-top padding-bottom, $sm, $xl, 10px, 12px);
					@include fluid-props(padding-left padding-right, $sm, $xl, 34px, 71px);
				}

				&--register {
					font-size: 13px;
					line-height: 1.31;
					letter-spacing: normal;
					color: #8997a5;
					background-color: #f7f8f9;
					border: solid 1px #e7eaed;
					border-left: 0;
					border-radius: 0 0.25rem 0.25rem 0;

					@include fluid-props(padding-top padding-bottom, $sm, $xl, 10px, 12px);
					@include fluid-props(padding-left padding-right, $sm, $xl, 26px, 64px);
				}
			}

			.form-control {
				padding: 0 10px !important;
			}

			.checkbox {

				label {
					font-size: 11px;
					line-height: 1.27;
					letter-spacing: normal;
					color: #8795a2;
				}
			}
		}

		.form-control {
			font-size: 13px;
			font-weight: normal;
			line-height: 1.31;
			letter-spacing: normal;
			height: auto;
			padding: 0 2px;
			background: transparent;
			color: #48566e;
			border: 0;
			border-bottom: 1px solid #c4cbd2;
			border-radius: 0;

			&:focus {
				box-shadow: none;
			}

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #c4cbd2;
				opacity: 0.5;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: #c4cbd2;
				opacity: 0.5;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: #c4cbd2;
				opacity: 0.5;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: #c4cbd2;
				opacity: 0.5;
			}
		}

		.btn-primary {
			padding: 14px 19px;
			border-radius: 5px;
			background-color: #e7eaed;
			border-color: #e7eaed;
			font-size: 13px;
			font-weight: 600;
			line-height: 1.23;
			letter-spacing: normal;
			color: #8997a5;	
		}
	}

	.table {

		.thead-light { 

			th {
				background-color: #edeff1;
				border-color: #edeff1;
				color: #0c1e3e;
			}
		}

		td {
			border-top: 1px solid #edeff1;
			color: #48566e;
		}
	}

	.warning {
		font-size: 11px;
		line-height: 1.27;
		letter-spacing: normal;
		color: #fd704a;
	}

	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 104px;
		background-color: #ffffff;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

		.btn-outline-primary {
			margin: 0 80px;
			padding: 14px 44px;
			font-size: 13px;
			font-weight: 600;
			line-height: 1.23;
			letter-spacing: normal;
			color: #2970ff;
			border-radius: 5px;
  			border: solid 1px #2970ff;

  			&:hover {
  				background-color: #2970ff;
  				color: #fff;
  			}
		}
	}
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 13px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 6px;
    left: 0;
    height: 12px;
    width: 12px;
    background: #ffffff;
    border: 1px solid #8997a5;
}
.control-radio .control_indicator {
    border-radius: 0;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	border: 1px solid #2979ff;
}

.control input:checked ~ .control_indicator {
	border: 1px solid #2979ff;
}

.control input:not(:checked) ~ .control_indicator {
	border: 1px solid #8997a5;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 3px;
    top: 0px;
    width: 3px;
    height: 7px;
    border: solid #2970ff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.bg-checked {
	background-color: #e9f8fe;
}