.voting, .home {

	blockquote {
		padding: 6px 15px;
		border-left: solid 1px #fd704a;
		box-shadow: 0 1px 2px 0 rgba(9, 20, 64, 0.21);

		span {
			color: #fd704a;
		}
	}

	&--block {

		&__agendas {
			color: #48566e;

			.span--box {
				border-radius: 2px;
			    background-color: #d4f0fd;
			    padding: 0 5px;
			    color: #48566e;
			}
		}
	}

	&--white-block {
		
		&__description {
			color: #596d81;

			span {
				color: #0c1e3e;
			}
		}

		&__agendas {
			color: #48566e;

			a {
				font-weight: 600;
				color: #2970ff;

				&.mail {
					color: #48566e;
				}
			}
		}

		.btn {
			padding: 2px 5px 2px 18px;
			font-size: 13px;
			line-height: 1.23;
			letter-spacing: normal;
			color: #2971ff;
			border-radius: 2px;
			border: 1px solid #2971ff;

			span {
				position: absolute;
			    top: -2px;
			    left: 3px;
			}
		}

		.btn-outline-primary {
			margin-right: 20px;
			padding: 14px 44px;
			font-size: 13px;
			font-weight: 600;
			line-height: 1.23;
			letter-spacing: normal;
			color: #2970ff;
			border-radius: 5px;
  			border: solid 1px #2970ff;

  			&:hover {
  				background-color: #2970ff;
  				color: #fff;
  			}
		}
	}
}

.status {
	padding: 5px 8px;
	border-radius: 5px;
	background-color: #d4f0fd;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.31;
	letter-spacing: normal;
	color: #0c1e3e;
}

.table-scroll-y {
	
	.table {
		margin-bottom: 0;

		.thead-light { 
		
			th{
				color: #091440;
			}
		}

		a {
			color: #2970ff;
		}
	}

	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: #fff;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: rgba(89, 109, 129, 0.7);
	}

	::-webkit-scrollbar-track {
		border-radius: 5px;
		background-color: #fff;
	}
}

.update-btn {
	width: 100%;
	height: 104px;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

	.btn-outline-primary {
		margin: 0 80px;
		padding: 14px 44px;
		font-size: 13px;
		font-weight: 600;
		line-height: 1.23;
		letter-spacing: normal;
		color: #2970ff;
		border-radius: 5px;
			border: solid 1px #2970ff;

			&:hover {
				background-color: #2970ff;
				color: #fff;
			}
	}
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 13px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 6px;
    left: 0;
    height: 12px;
    width: 12px;
    background: #ffffff;
    border: 1px solid #8997a5;
}
.control-radio .control_indicator {
    border-radius: 0;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	border: 1px solid #2970ff;
}

.control input:not(:checked) ~ .control_indicator {
	border: 1px solid #8997a5;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator {
	border-color: #1a59f7;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 3px;
    top: 0px;
    width: 3px;
    height: 7px;
    border: solid #2970ff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.bg-checked {
	background-color: #e9f8fe;
}

.circle {
	border-radius: 50%;
	
	&--sm {
		width: 16px;
  		height: 16px;
  	}
	&--md {
		width: 100px;
		height: 100px;
	}
	&--lg {
		width: 220px;
		height: 220px;
	}

  	&.color1 {
		background-color: #41bf53;
	}
	&.color2 {
		background-color: #fd704a;
	}
	&.color3 {
		background-color: #e1f7ff;
	}
	&.color4 {
		background-color: #73d5f3;
	}
	&.color5 {
		background-color: #2971ff;
	}
	&.color6 {
		background-color: #2ed8a3;
	}
}

.tickets-stat {
	
	&:hover {
		cursor: pointer;
	}

	&[aria-expanded="true"] {
		
		.arrow-down {
			transform: rotate(180deg);
			transition: all .5s;
		}
	}
}
