/**
 * Fluid Props
 */

@mixin fluid-props($properties, $min-vw, $max-vw, $min-value, $max-value, $set-initial-properties: true, $suffix: null) {
	@if $set-initial-properties {
		@each $property in $properties {
			#{$property}: $min-value $suffix;
		}
	}

	@media screen and (min-width: $min-vw) {
		@each $property in $properties {
		 #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}) $suffix;
		}
	}

	// scaling until 2k if the max-vw equals the mockup size
	@if $max-vw == $lg {
 	 $min-vw: $lg;
 	 $max-vw: $xl;
	 $min-value: $max-value;
 	 $max-value: $max-value * $xl-breakpoint / $lg-breakpoint;

	 @if $max-value < 0 {
		 $max-value: floor($max-value);
	 }
	 @else {
		 $max-value: ceil($max-value);
	 }

		@media screen and (min-width: $lg-breakpoint) {
			@each $property in $properties {
			 #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}) $suffix;
			}
		}
	}

	@media screen and (min-width: $max-vw) {
		@each $property in $properties {
			#{$property}: $max-value $suffix;
		}
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}