.modal {
	padding-top: 3.5rem;

	&-blockquote {
	    padding: 6px 15px;
	    border-left: solid 1px #fd704a;
	    box-shadow: 0 1px 2px 0 rgba(9, 20, 64, 0.21);

	    span {
			color: #fd704a;
		}
	}

	&-close {
		margin: -14px 0 4px 0;
		padding: 0;
		cursor: pointer;
		-webkit-appearance: none !important;
		border: 0;
	    background: transparent;

		@include media-breakpoint-down(sm) {
			margin: 0;
		}

		&:focus {
			outline: none;
		}

		img {
			@include media-breakpoint-down(lg) {
				width: 16px;
			}
		}
	}

	&-header {
		border: 0;
	}

	&-dialog {
		overflow: initial;

		@include media-breakpoint-down(sm) {
			margin: 0;
		    max-width: 100vw !important;
		}
	}

	&-header {
		@include media-breakpoint-down(sm) {
		    background: #f3f5f6;
	    }

	    &--long-title {

	    	.modal-title {
	    		max-width: 60%;
    			text-align: right;
	    	}

	    	img {
	    		float: right;
	    	}
    	    
    	    span {
    	    	float: right;
    			margin-top: 20px;
    	    }
	    }
	}

	&-backdrop {
		background-color: transparent;
	}

	&-content {
		background-color: #ffffff;
  		box-shadow: 0 15px 34px 0 rgba(9, 20, 64, 0.21);
  		border: 0;
  		border-radius: 0;
	}

	&-title {
		font-size: 27px;
		line-height: 1.26;
		letter-spacing: normal;
		color: #48566e;

		@include media-breakpoint-down(sm) {
			font-size: 18px;
		}
	}

	&-body {
		max-height: 660px;
		overflow-y: auto;

		@include media-breakpoint-down(sm) {
		    max-height: 100vh;
	    }

	    p {
	    	color: #48566e;
	    }

	    strong {
	    	color: #091440;
	    	margin-bottom: 1rem;
	    	display: block;
	    }
	}

	&-code {
		background-color: #edeff1;
		padding: 15px;
		margin-bottom: 1rem;

		p {
			font-family: 'Source Code Pro', sans-serif;
			@include fluid-props(font-size, $sm, $xl, 9px, 11px);
			line-height: 1.55;
			letter-spacing: normal;
			color: #545c6b;
			overflow-wrap: break-word;
			padding: 0 15px;
			margin-bottom: 0;
			border-left: solid 1px #dbdee0 !important;
		}		
	}
}