.table {
	.thead-light { 

		th {
			background-color: #edeff1;
			border-color: #edeff1;
			color: #0c1e3e;
		}
	}

	tr {
		
		&:hover {
			background-color: #e9f8fe;
			cursor: pointer;
		}
	}

	td {
		border-top: 1px solid #edeff1;
		color: #48566e;
	}
}

.table-scroll-y {
	
	.table {
		margin-bottom: 0;

		.thead-light { 
		
			th{
				color: #091440;
			}
		}

		a {
			color: #2970ff;
		}
	}

	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: #fff;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: rgba(89, 109, 129, 0.7);
	}

	::-webkit-scrollbar-track {
		border-radius: 5px;
		background-color: #fff;
	}
}