@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin-ext');

h1 {
	font-size: 20px;
	line-height: 1.25;
	letter-spacing: normal;
	color: #596d81;
}

h2 {
	font-size: 19px;
	line-height: 1.26;
	letter-spacing: normal;
	color: #0c1e3e;
}

.text {

	&--size-11 {
		font-size: 11px;
		line-height: 1.27;
		letter-spacing: normal;
	}

	&--size-13 {
		font-size: 13px;
		line-height: 1.46;
		letter-spacing: normal;
		color: #091440;
	}
}